-- CreateEnum
CREATE TYPE "EstadoEmpresa" AS ENUM ('ACTIVO', 'INACTIVO');

-- CreateEnum
CREATE TYPE "TipoContrato" AS ENUM ('FULL_TIME', 'PART_TIME', 'PRACTICA', 'FREELANCE');

-- CreateEnum
CREATE TYPE "Modalidad" AS ENUM ('PRESENCIAL', 'REMOTO', 'HIBRIDO');

-- CreateEnum
CREATE TYPE "EstadoVacante" AS ENUM ('ACTIVA', 'CERRADA', 'EN_PROCESO');

-- CreateEnum
CREATE TYPE "EstadoCandidato" AS ENUM ('ACTIVO', 'INACTIVO');

-- CreateEnum
CREATE TYPE "EstadoPostulacion" AS ENUM ('PENDIENTE', 'EVALUADO', 'RECHAZADO', 'SELECCIONADO');

-- CreateTable
CREATE TABLE "empresas" (
    "id" SERIAL NOT NULL,
    "nombre" VARCHAR(150) NOT NULL,
    "correo" VARCHAR(150) NOT NULL,
    "contrasenaHash" VARCHAR(255) NOT NULL,
    "descripcion" TEXT,
    "logoUrl" VARCHAR(255),
    "fechaCreacion" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "estado" "EstadoEmpresa" NOT NULL DEFAULT 'ACTIVO',

    CONSTRAINT "empresas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "vacantes" (
    "id" SERIAL NOT NULL,
    "idEmpresa" INTEGER NOT NULL,
    "titulo" VARCHAR(150) NOT NULL,
    "descripcion" TEXT NOT NULL,
    "tipoContrato" "TipoContrato" NOT NULL,
    "ubicacion" VARCHAR(100) NOT NULL,
    "modalidad" "Modalidad" NOT NULL,
    "salarioEstimado" DECIMAL(10,2),
    "preguntasJson" JSONB,
    "requisitos" TEXT,
    "fechaPublicacion" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "fechaCierre" TIMESTAMP(3),
    "estado" "EstadoVacante" NOT NULL DEFAULT 'ACTIVA',

    CONSTRAINT "vacantes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "candidatos" (
    "id" SERIAL NOT NULL,
    "nombre" VARCHAR(150) NOT NULL,
    "correo" VARCHAR(150) NOT NULL,
    "contrasenaHash" VARCHAR(255) NOT NULL,
    "telefono" VARCHAR(20),
    "cvUrl" VARCHAR(255),
    "linkedinUrl" VARCHAR(255),
    "skillsJson" JSONB,
    "experienciaAnios" INTEGER,
    "fechaRegistro" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "estado" "EstadoCandidato" NOT NULL DEFAULT 'ACTIVO',

    CONSTRAINT "candidatos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "postulaciones" (
    "id" SERIAL NOT NULL,
    "idCandidato" INTEGER NOT NULL,
    "idVacante" INTEGER NOT NULL,
    "respuestasJson" JSONB,
    "puntajeIa" DECIMAL(5,2),
    "estado" "EstadoPostulacion" NOT NULL DEFAULT 'PENDIENTE',
    "feedbackIa" TEXT,
    "fechaPostulacion" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "postulaciones_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "evaluaciones_ia" (
    "id" SERIAL NOT NULL,
    "idPostulacion" INTEGER NOT NULL,
    "modeloUsado" VARCHAR(100) NOT NULL,
    "resultadoJson" JSONB,
    "fechaEvaluacion" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "evaluaciones_ia_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "empresas_correo_key" ON "empresas"("correo");

-- CreateIndex
CREATE INDEX "vacantes_idEmpresa_idx" ON "vacantes"("idEmpresa");

-- CreateIndex
CREATE INDEX "vacantes_estado_idx" ON "vacantes"("estado");

-- CreateIndex
CREATE UNIQUE INDEX "candidatos_correo_key" ON "candidatos"("correo");

-- CreateIndex
CREATE INDEX "postulaciones_idCandidato_idx" ON "postulaciones"("idCandidato");

-- CreateIndex
CREATE INDEX "postulaciones_idVacante_idx" ON "postulaciones"("idVacante");

-- CreateIndex
CREATE INDEX "postulaciones_estado_idx" ON "postulaciones"("estado");

-- CreateIndex
CREATE UNIQUE INDEX "postulaciones_idCandidato_idVacante_key" ON "postulaciones"("idCandidato", "idVacante");

-- CreateIndex
CREATE INDEX "evaluaciones_ia_idPostulacion_idx" ON "evaluaciones_ia"("idPostulacion");

-- AddForeignKey
ALTER TABLE "vacantes" ADD CONSTRAINT "vacantes_idEmpresa_fkey" FOREIGN KEY ("idEmpresa") REFERENCES "empresas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "postulaciones" ADD CONSTRAINT "postulaciones_idCandidato_fkey" FOREIGN KEY ("idCandidato") REFERENCES "candidatos"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "postulaciones" ADD CONSTRAINT "postulaciones_idVacante_fkey" FOREIGN KEY ("idVacante") REFERENCES "vacantes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "evaluaciones_ia" ADD CONSTRAINT "evaluaciones_ia_idPostulacion_fkey" FOREIGN KEY ("idPostulacion") REFERENCES "postulaciones"("id") ON DELETE CASCADE ON UPDATE CASCADE;

